<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>Login Here</h2>



<div th:if="${errMsg}">
    <h3 style="color: red;" th:text="${errMsg}"></h3>
</div>

<form th:object="${user}" th:action="@{/loginForm}" method="post">
    
    Email Id : <input type="text" th:field="*{email}" /> <br/><br/>
    Password : <input type="text" th:field="*{password}" /> <br/><br/>
   
    
    <input type="submit" value="Login">
</form>

<br><br>
<a href="index.html">Home Page</a> 
<br><br>
<a href="regPage">Register Page</a> 

</body>
</html>